*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.first-section {
  padding: 0 10rem 2rem 10rem;
  background-color: #1f2937;
}

h1 {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

h2 {
  font-size: 24px;
  color: #f9faf8;
}

p {
  font-size: 18px;
  color: #e5e7eb;
}

.flex-container {
  padding: 0 0 5rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-container div {
  display: flex;
  justify-content: flex-start;
}

.flex-container .flex-end,
.flex-container img {
  justify-content: flex-end;
}

.flex-container .no-flex {
  display: block;
}

.no-flex * {
  line-height: 1.2;
}

.flex-end p {
  margin-left: 2rem;
}

.first-image {
  height: 16rem;
  width: 37rem;
}

.btn {
  background-color: #3882f6;
  border: none;
  text-align: center;
  font-size: 1rem;
  border-radius: 6px;
  height: 2rem;
  width: 6rem;
  color: white;
}

.second-section {
  background-color: white;
  padding: 0 35rem 2rem 35rem;
}

.second-section h1 {
  font-size: 36px;
  color: #1f2937;
  font-weight: bolder;
  text-align: center;
}

.second-section p {
  color: black;
  font-size: 16px;
  font-weight: lighter;
}

.second-section .flex-container {
  padding: 1rem;
  justify-content: space-evenly;
}

.blue-box {
  border: solid 2px blue;
  height: 7rem;
  width: 7rem;
  border-radius: 8px;
  padding: 5px;
  position: sticky;
}

.text {
  text-align: center;
  width: 7rem;
}
